.movie-detail-card{
	background: #ebebeb;
	display: flex;
    margin: 30px 0;
    flex-direction: column;

	.card-header{
		display: flex;
		width: 100%;
        flex-direction: row;
        background: #e6e6e6;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

			label{
                font-size: 20px !important;
                padding-right: 20px;
            }
            
			h1{
				color:#116193;
                padding-left: 40px;
                font-weight: 600 !important;
                padding-top: 0 !important;
			}
	}

    .card-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-side-image{ 
            display: flex;
            img{
                height: 80vh;
                width: auto;
                cursor: pointer;
            }
        }

        .info-main{
            padding: 20px  20px 0px  40px ;
            width: 100%;
            box-sizing: border-box;
        
            .info-footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .score-wraper{
                    padding:0 20px;
                    width: fit-content;
                }
            }
        }
    }

    @media (max-width : 1000px) and (min-width : 850px) {
        .card-body{
            padding-bottom: 10px;

            .card-side-image{ 
                img{
                    height: 70vh;
                }
            }

            .info-main{
                padding: 10px ;
                
                .info-container-element{
                    margin-bottom: 5px;
                }

                .info-footer{
                    .genre-container{
                        flex-direction: column;
                    }
                }
            }
        }
    }

    @media (max-width : 850px) {
        .card-body{
            flex-direction: column-reverse;
            
            .card-side-image{ 
                img{
                    height: auto;
                    width: 100%;
                }
            }

            .info-main{
                padding: 10px ;
                position: relative;
                
                .info-container-element{
                    margin-bottom: 5px;
                    width: 50%;
                }

                .info-footer{
                    position: absolute;
                    right: 0;
                    top: 40%;
                    width: 45%;
                    flex-direction: column;

                    .genre-container{
                        flex-direction: row;
                    }

                    .score-wraper{
                        position: absolute;
                        padding:20px;
                        right: 0;
                        top: 200px;
                        width: fit-content;
                    }
                }
            }
        }
    }
}
